.head-container{
    height: 8vh;
    background-color: #555;
    width: 100%;
}
.WishlistMain{
    margin-top: -14%;
}
.order-topconatiner{
height: 8vh;
display: flex;
align-items: flex-start;
flex-wrap: wrap;
width: 70%;

margin-left:  12%;
//margin-right: 25px;
}

.orderUrl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hometitle{
    opacity: 0.5;
    font-size: large;
    cursor: pointer;
}

.ordertitle{
    margin-left: 5px;
    font-weight: 300 bold;
    font-size: large;
    cursor: pointer;;
}

.Card-Container{
    margin: 10px auto;
}

table{
    margin-left: 12%;
    width: 70%;
}
.HeadingWishList{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-bottom: 0px gray;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -2px;
}
.HeadingData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}
.WishlistCount{
    margin-left: 15px;
   // margin-top: -0px;
}
.card-info{
    display: flex;
    flex-wrap: wrap;
}
.card-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 35px;
}
.BookName{
    font-weight: bold;
   // width: 500px;
}

.AuthorName{
    margin-top: -6px;
    font-size: 12px;
    opacity: 0.5;
}

.priceBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.PriceName{
    font-weight: bold;
    margin-top: -1px;
}

.ActualPriceName{
    margin-top: 4px;
    margin-left: 15px;
    text-decoration: line-through;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #9D9D9D;
opacity: 1;
}

.inner-box{
    display: flex;
    flex-direction: column;
    height: 18vh;
    padding: 10px 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-bottom-style: inset;
    border-bottom-color:rgb(236, 231, 231);
    opacity: 1;
    
}
td img{
    margin-left: 15px;
    margin-top: 15px;
    width: 80px;
    height: 80px;
}

.card-order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-details{
    width:60px;
    display: flex;
    flex-direction: row;
    margin-top: -125px;
    margin-left: 800px;
}

.removedata{
  //  position: absolute;
    height: 20px;
    width: 25px;
    opacity: 0.3;
    cursor: pointer;
}
.footer-setup{
    margin-top: 30.5%;
    position:-ms-page;
}