
.body1 {
  overflow-x: hidden;
  background-color: white;
 
}

.header1 {
  padding: 15px 0;
  height: 40px;
  width: 99.8%;
  border: 1px solid black;
  background-color: rgb(110, 16, 16);
}

.img1 {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
}

.head{
  margin-top: -40px;
  margin-left: 270px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  
}

.header-content1 {
  margin: auto;
  margin-top: 80px;
  
}

.content-text1 {
  margin-left: 40%;
  font-size: 30px;
  margin-top: 5%;
  
}

.content-box1 {
  margin-top: 50px;
  margin-left: 35%;
  border: 1px solid #e4e4e4;
  width : 30%;
}

.p1{
  color: #755c5c;
  text-align: left;
  font-size: 20px;
  margin: 10%;
  visibility: visible;
  text-align: center;
  width: 80%;

}


.email-text1 {
  display: flex;
  justify-content: start;
  margin-left: 60px;
  font-size: small;
  margin-bottom: 0.5px;
  font-weight: bold;
  
}

.input1{
  margin-left: 60px;
  width: 71%;
  color:black;
  padding: 14px;
  border: 1px solid rgb(156, 149, 149);
  border-radius: 4px;
}

.reset-button1 {
  height: 50px;
  text-align: center;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 40px;
  width: 78.5%;
  background-color: rgb(110, 16, 16);
  color: white;
  font-size: x-large;
  /* padding: 12px 15px; */
  border-radius: 4px;
  cursor: pointer;
}

.create1 {
  margin-top: 0px;
  margin-left: 35%;
  margin-right: 670px;
  width: 27.4%;
  padding: 20px;
  border: 1px solid #e4e4e4;
  font-size: 30px;
  background-color: #f9f9f8;
}

.heading {
  display: flex;
  justify-content: center;
 
}
.link3{
  color: black;
  text-decoration: none;

}

@media screen  and (max-width:1400px) and (min-width:768px) {
 .p1 {
    width:90%;
    display: flex;
   flex-wrap: nowrap;  
 }
   .content-box1 {
     width: 40%;
   }
   .header1 {
     width: 100%;
     /* display: flex;
     flex-wrap: nowrap; */
   } 
   .create1 {
    padding-left: 136px;
   
  }
}


@media screen  and (max-width:768px) and (min-width:300px) {
  .p1 {
     width:90%;
     font-size: small;
    
    /* display: flex;
    flex-wrap: nowrap; */ 
    }
    .content-box1 {
      width: 40%;
    }
    .input1 {
      width: 40%;
    }
    .reset-button1 {
      width:60%;
      font-size: x-small;
     
    }
    .content-text1 {
      width: 50%;
      font-size: medium;
    }
    .heading {
      font-size: small;
      
      
    }
    .link3 {

     
    }
    .create1 {
      padding-left: 55px;
      justify-content: center;
    }
    .header1 {
   margin-left: -100px;
   padding-right: 200px;
    }
 }
